---
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center px-4 lg:px-0"
>
  <div
    class="w-full max-w-screen-xl flex items-center justify-between py-4 text-black dark:text-white"
  >
    <span class="text-sm sm:text-center"
      >{currentYear}
      <a
        href="https://github.com/Kilamper"
        target="_blank"
        class="hover:underline">kilamper</a
      ><span class="max-lg:hidden"> - </span>
      <a
        href="https://github.com/Kilamper/kilamper-website"
        target="_blank"
        class="hover:underline max-lg:hidden"
        data-section="footer"
        data-value="technologies">Página hecha con Astro y Tailwind CSS</a
      >
    </span>
    <ul class="flex flex-wrap text-sm items-center font-medium sm:mt-0">
      <li>
        <a
          href="/#sobre-mi"
          class="hover:underline me-4 md:me-6"
          data-section="header"
          data-value="about">Sobre mí</a
        >
      </li>
      <li>
        <a
          id="contacto"
          href="mailto:kilamper@gmail.com"
          class="hover:underline"
          data-section="header"
          data-value="contact">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
