---
import Glitch from "../components/icons/Glitch.astro";
---

<div {...Astro.props}>
  <div
    id="github"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <i class="fa-brands fa-github dark:text-white text-2xl"></i><a
      href="https://github.com/Kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">GitHub</a
    >
  </div>
  <div
    id="linkedin"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <i class="fa-brands fa-linkedin text-blue-600 text-2xl"></i><a
      href="https://www.linkedin.com/in/kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">LinkedIn</a
    >
  </div>
  <div
    id="glitch"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <Glitch class="size-6" />
    <a
      href="https://glitch.com/@kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">Glitch</a
    >
  </div>
  <label class="label">
    <input type="checkbox" class="input" />
    <span class="circle"
      ><svg
        class="icon"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M12 19V5m0 14-4-4m4 4 4-4"></path>
      </svg>
      <div class="square"></div>
    </span>
    <p class="title" data-section="main" data-value="curriculum">
      Descargar CV
    </p>
    <p class="title">Open</p>
  </label>
</div>
<style>
  .social-btn {
    font-family: "Titillium Web", sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .curriculum-btn {
    font-family: "Titillium Web", sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .social-btn a {
    transition: 0.3s;
  }

  .social-btn:hover a {
    padding: 1px;
    padding-left: 4px;
    width: fit-content;
  }

  .label {
    background-color: transparent;
    border: 2px solid rgb(91, 91, 240);
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 5px;
    position: relative;
  }

  .label::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 8px;
    height: 8px;
    transition: all 0.4s ease;
    border-radius: 100%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }

  .label .input {
    display: none;
  }

  .label .title {
    font-size: 17px;
    color: #fff;
    transition: all 0.4s ease;
    position: absolute;
    right: 18px;
    bottom: 14px;
    text-align: center;
  }

  .label .title:last-child {
    opacity: 0;
    visibility: hidden;
  }

  .label .circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(91, 91, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    position: relative;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    overflow: hidden;
  }

  .label .circle .icon {
    color: #fff;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }

  .label .circle .square {
    aspect-ratio: 1;
    width: 15px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }

  .label .circle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3333a8;
    width: 100%;
    height: 0;
    transition: all 0.4s ease;
  }

  .label:has(.input:checked) {
    width: 57px;
    animation: installed 0.4s ease 3.5s forwards;
  }

  .label:has(.input:checked)::before {
    animation: rotate 3s ease-in-out 0.4s forwards;
  }

  .label .input:checked + .circle {
    animation:
      pulse 1s forwards,
      circleDelete 0.2s ease 3.5s forwards;
    rotate: 180deg;
  }

  .label .input:checked + .circle::before {
    animation: installing 3s ease-in-out forwards;
  }

  .label .input:checked + .circle .icon {
    opacity: 0;
    visibility: hidden;
  }

  .label .input:checked ~ .circle .square {
    opacity: 1;
    visibility: visible;
  }

  .label .input:checked ~ .title {
    opacity: 0;
    visibility: hidden;
  }

  .label .input:checked ~ .title:last-child {
    animation: showInstalledMessage 0.4s ease 3.5s forwards;
  }

  @keyframes pulse {
    0% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      scale: 1;
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
    }
    100% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  @keyframes installing {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(-90deg) translate(27px) rotate(0);
      opacity: 1;
      visibility: visible;
    }
    99% {
      transform: rotate(270deg) translate(27px) rotate(270deg);
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes installed {
    100% {
      width: 150px;
      border-color: rgb(35, 174, 35);
    }
  }

  @keyframes circleDelete {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes showInstalledMessage {
    100% {
      opacity: 1;
      visibility: visible;
      right: 56px;
    }
  }
</style>
