---
import Glitch from "../components/icons/Glitch.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const response = await fetch("files/CV-Kilian_Armas_Perez.pdf");
    const blob = await response.blob();
    const sizeInMB = (blob.size / 1024).toFixed(2);
    document.querySelector(".tooltip").textContent = `${sizeInMB} KB`;
  });
</script>

<div {...Astro.props}>
  <div
    id="github"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <i class="fa-brands fa-github dark:text-white text-2xl"></i><a
      href="https://github.com/Kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">GitHub</a
    >
  </div>
  <div
    id="linkedin"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <i class="fa-brands fa-linkedin text-blue-600 text-2xl"></i><a
      href="https://www.linkedin.com/in/kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">LinkedIn</a
    >
  </div>
  <div
    id="glitch"
    class="social-btn size-12 rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded hover:px-3"
  >
    <Glitch class="size-6" />
    <a
      href="https://glitch.com/@kilamper"
      target="_blank"
      class="w-0 overflow-hidden text-center ml-1 font-semibold">Glitch</a
    >
  </div>
  <a
    class="curriculum-btn h-12 w-fit rounded-lg m-1.5 flex justify-center items-center bg-indigo-50 dark:bg-indigo-950 text-gray-800 dark:text-white cursor-pointer hover:w-fit hover:rounded px-4"
    href="files/CV-Kilian_Armas_Perez.pdf"
    download="CV-Kilian_Armas_Perez.pdf"
  >
    <i class="fa-solid fa-file-arrow-down text-xl"></i>
    <span
      class="ml-2 text-center font-semibold"
      data-section="main"
      data-value="curriculum">Descargar CV</span
    >
    <span class="tooltip">Loading...</span>
  </a>
</div>
<style>
  .social-btn {
    font-family: "Titillium Web", sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .curriculum-btn {
    font-family: "Titillium Web", sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    position: relative;
  }

  .curriculum-btn .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position below the button */
    left: 65%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: fit-content;
  }

  .curriculum-btn .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }

  .curriculum-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .social-btn a {
    transition: 0.3s;
  }

  .social-btn:hover a {
    padding: 1px;
    padding-left: 4px;
    width: fit-content;
  }
</style>
