<div class="flex items-center justify-center gap-2">
  <div
    id="container"
    class="bg-[#f8f8f8] relative w-12 h-6 mt-80 mx-auto cursor-pointer hover:bg-gray-300"
  >
    <div class="toggle absolute top-0 left-0 w-6 h-6"></div>
  </div>
  <i id="sun" class="fa-regular fa-sun hidden"></i>
  <i id="moon" class="fa-solid fa-moon"></i>
</div>
<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  #container {
    box-shadow:
      inset 4px 4px 6px #cecece,
      inset -4px -4px 6px #ffffff;
    border-radius: 25px;
  }

  .toggle {
    transform: scale(0.7);
    background-color: #242424;
    border-radius: 25px;
    box-shadow:
      3px 3px 8px #c4c4c4,
      -3px -3px 8px #ffffff;
  }

  #container.active .toggle {
    left: 24px;
    background-color: #c2c2c2;
  }
</style>
<script>
  const toggle = document.getElementById("container");
  const sun = document.getElementById("sun");
  const moon = document.getElementById("moon");

  const toggleTheme = () => {
    const currentTheme = document.body.classList.contains("dark")
      ? "dark"
      : "light";
    const newTheme = currentTheme === "dark" ? "light" : "dark";

    document.body.classList.remove(currentTheme);
    document.body.classList.add(newTheme);

    localStorage.setItem("theme", newTheme);
  };

  document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme") || "dark";
    document.body.classList.add(savedTheme);
  });

  toggle.onclick = function () {
    toggle.classList.toggle("active");
    sun.classList.toggle("hidden");
    moon.classList.toggle("hidden");
    toggleTheme();
  };
</script>
